.cntheader{
    /* margin: 0; */
    /* padding: 0; */
    /* margin-top: 0; */
    /* text-align: center; */
    /* position: relative; */
    width: 100%;
    height: 70px;
    text-decoration: none;
    display: flex;
    border-radius: 5px;
    font-family: inherit;
    padding: 0 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0,0.65);
    /* flex-direction: unset; */
    align-items: center;
    float: left;
}

.linkheader{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-family: inherit;
}
